<div class="row">
  <div class="col-12 text-center">
    <%= render 'form', url: cards_path %>
  </div>
</div>
<table class="table table-striped table-sm shadow p-3 mt-2 mb-5 sortable">
  <thead>
    <tr>
      <th scope="col" data-defaultsort="disabled"></th> <!-- Image -->
      <th scope="col" class="hide-xs">Name</th>
      <th scope="col" class="pr-3">Type</th>
      <th scope="col">Rarity</th>
      <th scope="col" class="text-center">Stats</th>
      <th scope="col" class="hide-xs">Source</th>
      <th scope="col" class="text-right hide-xs">Owned</th>
      <th scope="col" class="text-right">Patch</th>
    </tr>
  </thead>
  <tbody>
    <%= render 'table_data', cards: @cards, ownership: @ownership %>
  </tbody>
</table>
