.stats div {
  width: 60px;
  line-height: 1.1rem;
}

img.small {
  width: 40px;
  height: 40px;
  background: url(asset_path('cards/small.png')) no-repeat;
}

img.large {
  width: 104px;
  height: 128px;
  background: url(asset_path('cards/large.png')) no-repeat;
}

img.type {
  width: 20px;
  height: 20px;
  background: url(asset_path('cards/types.png')) no-repeat;
}

.card-large {
  position: relative;
  display: inline-flex;
  width: 104px;
  height: 128px;

  .stats {
    position: absolute;
    bottom: 12px;
    left: 27px;
    font-weight: bold;

    div {
      width: 50px;
      line-height: 0.8rem;
    }

    span {
      text-shadow: -1px -1px 2px #000, 1px -1px 2px #000, -1px 1px 2px #000, 1px 1px 2px #000;
    }
  }
}

.card-search {
  display: inline-block;

  input, select {
    margin-right: 1rem;
  }

  @media (max-width: 575px) {
    select {
      margin-top: 0.5rem;
    }
  }
}


.card-info > div {
  margin-right: 3rem;
}

.has-card {
  opacity: 0.3;
}

.card.card-page {
  width: 250px;
  height: 250px;

  background-color: rgba(0, 0, 0, 0.3);

  .card-select {
    width: 40px;
    height: 40px;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    cursor: pointer;

    &.missing {
      opacity: 0.3;
    }

    img:hover {
      opacity: 0.8;
    }

    img:active {
      opacity: 0.6;
    }
  }
}

.card-buttons {
  width: 250px;
}

.btn-attention {
  box-shadow: 0 0 0 0 rgba(238, 238, 238, 0.7);
  -webkit-animation: pulse 1.5s infinite;
  -moz-animation: pulse 1.5s infinite;
  -ms-animation: pulse 1.5s infinite;
  animation: pulse 1.5s infinite;
}

@-webkit-keyframes pulse {to {box-shadow: 0 0 0 0.5rem rgba(238, 238, 238, 0);}}
@-moz-keyframes pulse {to {box-shadow: 0 0 0 0.5rem rgba(238, 238, 238, 0);}}
@-ms-keyframes pulse {to {box-shadow: 0 0 0 0.5rem rgba(238, 238, 238, 0);}}
@keyframes pulse {to {box-shadow: 0 0 0 0.5rem rgba(238, 238, 238, 0);}}
