html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: #333;
  color: #eee;
  margin-bottom: 40px;
}

footer {
  position: absolute;
  bottom: 8px;
  width: 100%;
  height: 24px;
}

a, a:hover {
  color: #eee;
  text-decoration: underline;
}

a.nav-link {
  text-decoration: none;
}

a.sort_link i {
  padding-left: 4px;
}

.navbar-dark {
  background-color: #222;
}

.navbar-expand .navbar-nav .nav-link {
  padding-right: 1rem;
}

.table-striped tbody tr:nth-of-type(even), thead {
  background-color: rgba(0, 0, 0, 0.2)
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.1)
}

.table {
  th, td {
    vertical-align: middle;
    border-top: 1px solid #888;
    border-bottom: 1px solid #888;
  }

  thead th {
    border-bottom: 2px solid #888;
  }
}
